	<MenuFolder DisplayName="Menuber#User" MergeOrder="1200">
		<MenuItem DisplayName="MenuBar#OUT" MergeOrder="100">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;User_;OUT</Argument>
          </CommandCall>
        </MenuItem>
	    <MenuItem DisplayName="MenuBar#Point_REL" MergeOrder="101">
            <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;User_;LSREL</Argument>
            </CommandCall>
        </MenuItem>
	    <MenuItem DisplayName="MenuBar#LSON" MergeOrder="102">
            <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;User_;LSON</Argument>
            </CommandCall>
        </MenuItem>
		<MenuItem DisplayName="MenuBar#LSOFF" MergeOrder="103">
            <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;User_;LSOFF</Argument>
            </CommandCall>
        </MenuItem>
				<MenuItem DisplayName="MenuBar#Program" MergeOrder="104">
            <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;User_;Program</Argument>
            </CommandCall>
        </MenuItem>
	</MenuFolder>