    <MenuFolder DisplayName="MenuBar#HanGao" MergeOrder="1200">
		<MenuItem DisplayName="MenuBar#_START" MergeOrder="100">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Surround_LIN;_START</Argument>
          </CommandCall>
        </MenuItem>
	   <MenuItem DisplayName="MenuBar#_END" MergeOrder="101">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Surround_LIN;_END</Argument>
          </CommandCall>
        </MenuItem>
      <MenuItem DisplayName="MenuBar#Cross_Pos" MergeOrder="102">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Surround_LIN;Cross_Pos</Argument>
          </CommandCall>
        </MenuItem>
        
      <MenuFolder DisplayName="MenuBar#Surround Craft" MergeOrder="103">
     
        <MenuItem DisplayName="MenuBar#LIN" MergeOrder="102">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Surround_LIN;S_LIN</Argument>
          </CommandCall>
        </MenuItem>
      


        <MenuItem DisplayName="MenuBar#C_LIN" MergeOrder="102">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Surround_LIN;S_C_LIN</Argument>
          </CommandCall>
        </MenuItem>
        
        
		  <MenuItem DisplayName="MenuBar#C_CIR" MergeOrder="103">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Surround_CIR;S_C_CIR</Argument>
          </CommandCall>
        </MenuItem>
     

      </MenuFolder>
      
      <MenuFolder DisplayName="MenuBar#Short Craft" MergeOrder="104">
      	<MenuItem DisplayName="MenuBar#Lin" MergeOrder="100">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Short_Craft;S_LIN</Argument>
          </CommandCall>
        </MenuItem>
      
      </MenuFolder>
      
            <MenuFolder DisplayName="MenuBar#Nine Calibration" MergeOrder="104">
          <MenuItem DisplayName="MenuBar#Start Connect" MergeOrder="100">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Calibration;C_Start_Connect</Argument>
          </CommandCall>
        </MenuItem>
      	<MenuItem DisplayName="MenuBar#Area" MergeOrder="100">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Calibration;C_Area</Argument>
          </CommandCall>
        </MenuItem>
         <MenuItem DisplayName="MenuBar#Number" MergeOrder="100">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Calibration;C_Number</Argument>
          </CommandCall>
        </MenuItem>
         <MenuItem DisplayName="MenuBar#Data Send" MergeOrder="100">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Calibration;C_Data_Send</Argument>
          </CommandCall>
        </MenuItem>
         <MenuItem DisplayName="MenuBar#End" MergeOrder="100">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Calibration;C_End</Argument>
          </CommandCall>
        </MenuItem>
      </MenuFolder>
      
   </MenuFolder>