<?xml version="1.0"?>
<configuration>
<configSections>
    <section name="KukaRoboter.SmartHMI.FirmwareUpdateProgramSection" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
    <section name="KukaRoboter.SmartHMI.MenuItemHistory" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
</configSections>
<KukaRoboter.SmartHMI.FirmwareUpdateProgramSection type="KukaRoboter.SmartHMI.FirmwareUpdate.FirmwareUpdateConfiguration, KukaRoboter.SmartHMI.FirmwareUpdate">
    <FirmwareUpdateConfiguration LastUpdateFailed="false" />
</KukaRoboter.SmartHMI.FirmwareUpdateProgramSection>
<KukaRoboter.SmartHMI.MenuItemHistory type="KukaRoboter.SmartHMI.UIFramework.Menu.MenuItemHistoryConfiguration, SmartHMI">
    <MenuItemHistory>
        <MenuItems>
            <MenuHistoryItem MenuRoot="MainMenu">
                <Path>Monitor-&gt;Variable-&gt;MonitorVarKor</Path>
            </MenuHistoryItem>
            <MenuHistoryItem MenuRoot="MainMenu">
                <Path>Config-&gt;MenuBar#ConfigMiscellaneous-&gt;MenuBar#ConfigUserTechReInit</Path>
            </MenuHistoryItem>
            <MenuHistoryItem MenuRoot="MainMenu">
                <Path>Monitor-&gt;RobotPositionView#Title</Path>
            </MenuHistoryItem>
            <MenuHistoryItem MenuRoot="MainMenu">
                <Path>Setup-&gt;BaseToolManagement#MenuLabel</Path>
            </MenuHistoryItem>
        </MenuItems>
    </MenuItemHistory>
</KukaRoboter.SmartHMI.MenuItemHistory>
<KukaRoboter.SmartHMI.Menu type="KukaRoboter.SmartHMI.UIFramework.Menu.MenuRootImpl, SmartHMI">
  <MenuRoot SystemName="MainMenu">
    <MenuFolder DisplayName="MenuBar#Config">
      <!-- Demo to implement a UserTech StatusKeyBar>
					<MenuFolder DisplayName="MenuBar#ConfigStatKeys" MergeOrder="210">
						<MenuItem DisplayName="MenuBar#UserTStatKeys">
							<CommandCall Target="LegacyLoader.InvokeModuleProc">
							<Argument Name="PlugInName">USERSTATKEYBAROCX</Argument>
							<Argument Name="ProcID">11</Argument>
							<Argument Name="ParamList">KUKATPUSER;StatkeyTest.Test</Argument>
							</CommandCall>
						</MenuItem>
					</MenuFolder-->
    </MenuFolder>
  </MenuRoot>
  <MenuRoot SystemName="CommandMenu">
    <MenuFolder DisplayName="MenuBar#CmdUserTech" MergeOrder="1100">
      <MenuFolder DisplayName="MenuBar#CmdMyTech" MergeOrder="100">
        <MenuItem DisplayName="MenuBar#CmdMyCmd" MergeOrder="100">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;MyTech;MyCmd</Argument>
          </CommandCall>
        </MenuItem>
      </MenuFolder>
    </MenuFolder>
        <MenuFolder DisplayName="MenuBar#HanGao" MergeOrder="1101">
		  	<MenuItem DisplayName="MenuBar#_START" MergeOrder="100">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Surround_LIN;_START</Argument>
          </CommandCall>
        </MenuItem>
	    <MenuItem DisplayName="MenuBar#_END" MergeOrder="101">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Surround_LIN;_END</Argument>
          </CommandCall>
        </MenuItem>
        	    <MenuItem DisplayName="MenuBar#Cross_Pos" MergeOrder="102">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Surround_LIN;Cross_Pos</Argument>
          </CommandCall>
        </MenuItem>
      <MenuFolder DisplayName="MenuBar#Surround" MergeOrder="103">
      


        <MenuItem DisplayName="MenuBar#S_LIN" MergeOrder="102">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Surround_LIN;S_LIN</Argument>
          </CommandCall>
        </MenuItem>
        <MenuFolder DisplayName="MenuBar#S_CIR" MergeOrder="103">


        <MenuItem DisplayName="MenuBar#C_LIN" MergeOrder="102">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Surround_CIR;S_C_LIN</Argument>
          </CommandCall>
        </MenuItem>
        
        
		  <MenuItem DisplayName="MenuBar#C_CIR" MergeOrder="103">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Surround_CIR;S_C_CIR</Argument>
          </CommandCall>
        </MenuItem>
      </MenuFolder>

      
       </MenuFolder>
      
       <MenuFolder DisplayName="MenuBar#Nine Calibration" MergeOrder="104">
          <MenuItem DisplayName="MenuBar#Start Connect" MergeOrder="100">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Vision;Start_Connect</Argument>
          </CommandCall>
        </MenuItem>

         <MenuItem DisplayName="MenuBar#Number" MergeOrder="100">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Vision;Number</Argument>
          </CommandCall>
        </MenuItem>
         <MenuItem DisplayName="MenuBar#Calibration Send" MergeOrder="100">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Vision;Calibration_Send</Argument>
          </CommandCall>
        </MenuItem>
  
 
 
      </MenuFolder>
      <MenuFolder DisplayName="MenuBar#Find Model" MergeOrder="104">
         <MenuItem DisplayName="MenuBar#Find" MergeOrder="100">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Vision;Find_Model</Argument>
          </CommandCall>
        </MenuItem>
        
         <MenuItem DisplayName="MenuBar#Calculation Offset" MergeOrder="100">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Vision;Calculation_Offset</Argument>
          </CommandCall>
        </MenuItem>
        
        
      
      </MenuFolder>
     


      
   </MenuFolder>
    
    
    
  </MenuRoot>
</KukaRoboter.SmartHMI.Menu>
 <TemplateInfo Version="8.3.17"/>
	<!-- Messages configuration: User defined rules start with MergeOrder="100" -->
	<KukaRoboter.SmartHMI.MessagesConfiguration type="KukaRoboter.SmartHMI.LegacySupport.Messages.MessageSet, KukaRoboter.SmartHMI.LegacySupport">
		<!-- Rule: Ignore some specific kernel system messages in "Automatic" and "Automatic Extern"-->
		<MessageSet Name="IgnoreSomeKernelMessages" MergeOrder="100">
			<Rule Module="CrossMeld" Number="\b(98|1123|2821|3087|470|1053|1155|1442|2920|3131|3132|3110|3113|3114|3115|3171|3172|3173|3174|3175|3176|3183|3184|3185|3188|3189|3190|3214|3216|3217|3218|3220|3221|3223|3232|3233|3235)\b"/>
			<IgnoreInAutomatic/>
		</MessageSet>
		<!-- Rule: Ignore some specific kernel system messages in "T1"-->
		<MessageSet Name="IgnoreSomeMessagesInT1" MergeOrder="101">
			<Rule Module="CrossMeld" Number="1053"/>
			<Ignore ModeOp="T1"/>
		</MessageSet>
	</KukaRoboter.SmartHMI.MessagesConfiguration>
	<KukaRoboter.SmartHMI.MessagesSettings type="KukaRoboter.SmartHMI.LegacySupport.Messages.Settings, KukaRoboter.SmartHMI.LegacySupport">
		<Settings DoAutoConfirm="false" AutoConfirmTime="23:50" MaxInfoMessages="100"/>
	</KukaRoboter.SmartHMI.MessagesSettings>
	<KukaRoboter.SmartHMI.CorePlugIns.Jogging type="KukaRoboter.SmartHMI.CorePlugIns.Jogging.Configuration.JoggingConfiguration, KukaRoboter.SmartHMI.CorePlugIns">
		<JoggingConfiguration ToolBaseConsistency="Index">
			<DeviceConfigurations>
				<!-- RelatedViewConfiguration: Some indicator views are managed inside the device and can therefore not be configured! -->
				<DeviceConfiguration DeviceID="KcpMouse" CoordinateSystemDefault="World">
					<RelatedViewConfiguration ViewName="JoggingIndicatorMouseStatus" StartOption="ShowAlways"/>
					<RelatedViewConfiguration ViewName="JoggingKcpMouseView" StartOption="ShowOnOptionsEdited"/>
					<RelatedViewConfiguration ViewName="JoggingKcpPositionView" StartOption="ShowOnOptionsEdited"/>
				</DeviceConfiguration>
				<DeviceConfiguration DeviceID="KcpParamKey" CoordinateSystemDefault="Axis">
					<RelatedViewConfiguration ViewName="JoggingIndicatorParamKeyStatus" StartOption="ShowAlways"/>
					<RelatedViewConfiguration ViewName="StatusBar.JoggingDistances" StartOption="ShowAlways"/>
					<RelatedViewConfiguration ViewName="JoggingKcpParamKeyView" StartOption="ShowOnOptionsEdited"/>
					<JoggingDistanceSteps>
						<Step MoveMode="Continuous" LinDistance="0" RotDistance="0"/>
						<Step MoveMode="Incremental" LinDistance="100" RotDistance="10"/>
						<Step MoveMode="Incremental" LinDistance="10" RotDistance="3"/>
						<Step MoveMode="Incremental" LinDistance="1" RotDistance="1"/>
						<Step MoveMode="Incremental" LinDistance="0.1" RotDistance="0.005"/>
					</JoggingDistanceSteps>
				</DeviceConfiguration>
			</DeviceConfigurations>
			<ProgramOverrideSteps>
				<Step>0</Step>
				<Step>1</Step>
				<Step>3</Step>
				<Step>5</Step>
				<Step>10</Step>
				<Step>30</Step>
				<Step>50</Step>
				<Step>75</Step>
				<Step>100</Step>
			</ProgramOverrideSteps>
			<JogOverrideSteps>
				<Step>0</Step>
				<Step>1</Step>
				<Step>3</Step>
				<Step>5</Step>
				<Step>10</Step>
				<Step>30</Step>
				<Step>50</Step>
				<Step>75</Step>
				<Step>100</Step>
			</JogOverrideSteps>
			<!-- No custom kinematics -->
			<CustomKinematicsGroups/>
			<CustomParamKeyCommands>
				<!-- Do not forget to reconfigure the display of the related view if you have changed the SideBarKeyID! -->
				<CustomParamKeyCommand SideBarKeyID="Param7" CommandID="ProgramOverride" ViewName="JoggingIndicatorProgramOverride"/>
				<CustomParamKeyCommand SideBarKeyID="Param8" CommandID="JogOverride" ViewName="JoggingIndicatorJogOverride"/>
			</CustomParamKeyCommands>
		</JoggingConfiguration>
	</KukaRoboter.SmartHMI.CorePlugIns.Jogging>
	<KukaRoboter.SmartHMI.UserSettings type="KukaRoboter.SmartHMI.Main.UserSettings, SmartHMI">
  <UserSettings CurrentCulture="zh-CN" />
 </KukaRoboter.SmartHMI.UserSettings>
	<KukaRoboter.SmartHMI.Trace type="KukaRoboter.Trace.Config.util.DirectoryConfiguration, KukaRoboter.Trace.Config.ViewModel">
		<DirectoryConfiguration ImportDirectory="TraceConfig"/>
	</KukaRoboter.SmartHMI.Trace>
	<KukaRoboter.SmartHMI.ModeOpImprovedVisibility type="KukaRoboter.SmartHMI.UIFramework.SideBars.ModeOpImprovedVisibilityConfig, SmartHMI">
		<ModeOpImprovedVisibility ImprovedVisibilityActive="false"/>
	</KukaRoboter.SmartHMI.ModeOpImprovedVisibility>
	<KukaRoboter.Common.Configuration.ApplicationEnvironment>
		<CancelSubmitOnOpenDollarDatFile Enable="true"/>
	</KukaRoboter.Common.Configuration.ApplicationEnvironment>
	<KukaRoboter.SmartHMI.CorePlugIns.UserModeIndicatorConfiguration type="KukaRoboter.SmartHMI.CorePlugIns.StatusBarElements.Configuration.UserModeIndicatorConfiguration, KukaRoboter.SmartHMI.CorePlugIns">
		<UserModeIndicatorConfiguration>
			<UserModeColorRelations>
				<UserModeColorRelation UserMode="5" Color="White"/>
				<UserModeColorRelation UserMode="10" Color="White"/>
				<UserModeColorRelation UserMode="15" Color="White"/>
				<UserModeColorRelation UserMode="20" Color="White"/>
				<UserModeColorRelation UserMode="27" Color="White"/>
				<UserModeColorRelation UserMode="29" Color="White"/>
				<UserModeColorRelation UserMode="30" Color="White"/>
			</UserModeColorRelations>
		</UserModeIndicatorConfiguration>
	</KukaRoboter.SmartHMI.CorePlugIns.UserModeIndicatorConfiguration>
	<KukaRoboter.ConfigurationBasisTech type="KukaRoboter.Common.Technology.TechHandler2.Entry, KukaRoboter.Common.Technology">
		<Entry Key="KukaRoboter.Techhandler.MovementBasics.MovementBase.AutoIncrementOnPaste" Value="true"/>
	</KukaRoboter.ConfigurationBasisTech>
	<!-- ### BaseToolManagement Configuration -->
	<KukaRoboter.SmartHMI.BaseToolUserConfiguration type="KukaRoboter.SmartHMI.BaseToolManagement.Configuration.BaseToolUserConfiguration, KukaRoboter.SmartHMI.BaseToolManagement">
		<BaseToolUserConfiguration ShowAllFrames="false"/>
	</KukaRoboter.SmartHMI.BaseToolUserConfiguration>
</configuration>
