
  <MenuFolder DisplayName="MenuBar#HanGao" MergeOrder="1200">
	
  
      <MenuFolder DisplayName="MenuBar#Surround Craft" MergeOrder="103">
     
        <MenuItem DisplayName="MenuBar#LIN" MergeOrder="102">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Surround_LIN;S_LIN</Argument>
          </CommandCall>
        </MenuItem>
      


        <MenuItem DisplayName="MenuBar#C_LIN" MergeOrder="102">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Surround_LIN;S_C_LIN</Argument>
          </CommandCall>
        </MenuItem>
        
        
		  <MenuItem DisplayName="MenuBar#C_CIR" MergeOrder="103">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Surround_CIR;S_C_CIR</Argument>
          </CommandCall>
        </MenuItem>
     

      </MenuFolder>
      
      <MenuFolder DisplayName="MenuBar#Short Craft" MergeOrder="104">
      
      	<MenuItem DisplayName="MenuBar#Lin" MergeOrder="100">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Short_Craft;S_LIN</Argument>
          </CommandCall>
        </MenuItem>
      
      </MenuFolder>
      
       <MenuFolder DisplayName="MenuBar#Vision" MergeOrder="105">
       
        <MenuItem DisplayName="MenuBar#Vision Ini" MergeOrder="100">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Vision;Vision_Ini</Argument>
          </CommandCall>
        </MenuItem>
       
	     <MenuItem DisplayName="MenuBar#Creation Plan" MergeOrder="101">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Vision;Vision_Creation_Plan</Argument>
          </CommandCall>
        </MenuItem>
	   
           <MenuFolder DisplayName="MenuBar#HandEye Calibration" MergeOrder="102">
         
         <MenuItem DisplayName="MenuBar#HandEye Ini" MergeOrder="100">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Vision;HandEye_Calib_Ini</Argument>
          </CommandCall>
        </MenuItem>
         
         <MenuItem DisplayName="MenuBar#HandEye ADD Point" MergeOrder="101">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Vision;HandEye_Calib_ADD_Point</Argument>
          </CommandCall>
        </MenuItem>
         <MenuItem DisplayName="MenuBar#HandEye Calib End" MergeOrder="102">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Vision;HandEye_Calib_End</Argument>
          </CommandCall>
        </MenuItem>
  
 
 
      </MenuFolder>
      
              <MenuFolder DisplayName="MenuBar#Find Model" MergeOrder="102">
  


          <MenuItem DisplayName="MenuBar#Match Shape" MergeOrder="100">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Vision;Vision_Path_Offset</Argument>
          </CommandCall>
        </MenuItem>
        
      
      </MenuFolder>
      
      </MenuFolder>


     

   </MenuFolder>
   
     <MenuFolder DisplayName="MenuBar#User" MergeOrder="1300">
           <MenuItem DisplayName="MenuBar#PName" MergeOrder="100">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Laser_Function;PName</Argument>
          </CommandCall>
        </MenuItem>
          <MenuItem DisplayName="MenuBar#LSON" MergeOrder="101">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Laser_Function;LSON</Argument>
          </CommandCall>
        </MenuItem>
        <MenuItem DisplayName="MenuBar#LSOFF" MergeOrder="102">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Laser_Function;LSOFF</Argument>
          </CommandCall>
        </MenuItem>
		<MenuItem DisplayName="MenuBar#IF_Then" MergeOrder="103">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Laser_Function;IF_Then</Argument>
          </CommandCall>
        </MenuItem>
		<MenuItem DisplayName="MenuBar#IF_END" MergeOrder="104">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Laser_Function;IF_End</Argument>
          </CommandCall>
        </MenuItem>		
	 </MenuFolder>